{% extends 'property.view.base.html.twig' %}

{% block title %}Create new Message{% endblock %}

{% block body %}
<h1>New message</h1>
{# {{ include('news/_form.html.twig') }} #}

    <div class="clearfix"></div>
    </div>


    <a href="{{ path('news_index') }}">back to list</a>
    {% endblock %}


