{% extends 'agency.view.base.html.twig' %}

{% block title %}News index (agency view){% endblock %}

{% block body %}
    <h1>News</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Property</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.date ? news.date|date('d-m-Y') : '' }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.property.object }}</td>
                <td>
                    <a href="{{ path('agency_view_show', {'id': news.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
