{% extends 'menu.base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block body %}
    <h1>Property index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Property</th>
        </tr>
        </thead>
        <tbody>
        {% set counter=0 %}
        {% for property in properties %}
            {% set counter = counter +1 %}
            <tr>
                {{ counter }}
                <td>{{ property.object }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
