{% extends 'agency.view.base.html.twig' %}

{% block title %}Property show (agency view){% endblock %}

{% block body %}
    <h1>Property</h1>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Message Title</th>
            <th>Read</th>
        </tr>
        </thead>
        <tbody>

        {% set counter = 0 %}
        {% for news in news %}
            {% set counter = counter +1 %}
            <tr>
                <td>{{ counter }}</td>
                <td>{{ news.title }}</td>
                <td><a href="{{path('agency_view_property_news_show', {'id': news.id})}}">Show</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agency_view_property_list') }}">back to list</a>



{% endblock %}
