{% extends 'admin.base.html.twig' %}

{% block title %}New Agency{% endblock %}

{% block body %}
    <h1>Add new agency</h1>

    {{ include('agency/_form.html.twig') }}

    <a href="{{ path('admin_view_users') }}">back to list</a>
{% endblock %}
