<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Agency view {% endblock %}</title>
    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">
       <link rel="stylesheet" href="'css/custom-style.css'}"/>

    {% endblock %}

    {% block javascript %}{% endblock %}
</head>

<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-green bg-dark">
        <div class="container">

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('agency_view_index') }}">All news</a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('property_list') }}">Properties</a>
                    </li>
                </ul>
            </div>


            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('property_index') }}">Search by property</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container main">
    {% block body %}{% endblock %}
</main>



    <footer style="background-color: #deded5;">
{#        <div class="container p-4">#}
{#            #}
{#        </div>#}
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-dark" href="https://www.linkedin.com/in/evgeni-brish-8a19abab/">Evgeni Brish</a>
        </div>
        <!-- Copyright -->
    </footer>


<!-- End of .container -->
{% block javascripts %}{% endblock %}
</body>
</html>