<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="/css/main.css" />
    {% endblock %}
</head>
<body>
<div class="navigation">
    {% include 'components/navigation.html.twig' %}
</div>
<main class="content">
    {% block body %}{% endblock %}
</main>
<footer>&copy; All right reserved 2021 </footer>
{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
{% endblock %}
</body>
</html>
