Search news by property:
<select name="propertyNews">
    <option>Choose</option>


    {% for newsItem in news if  %}
        <option>{{ newsItem.property.object }}</option>
    {% endfor %}
</select>